html{
  background-color: rgb(24, 26, 28);
}

.cd3-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.cd3-content-left {
    background: linear-gradient(
      90deg,
      rgb(28, 209, 37) 0%,
      rgb(16, 185, 190) 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }


.cd3-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.form h1 {
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
}

.cd3-input-btn {
    font-family: 'Roboto';
    width: 80%;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    background-color: rgb(75, 75, 75);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
  
  }
  
.cd3-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(28, 209, 37) 0%,
    rgb(16, 185, 190) 100%
  );
  transition: all 0.4s ease-out;
}

.erros p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}