html{
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

/*==================== Menu ==================== */

.menu-geral{
    display: flex;
}

.menu-left{
    border-right: 1px solid white;
    text-align: center;
    display: grid;
    width: 15%;
    height: 100vh;
}

.menu-center{
    width: 70%;
    height: 100vh;
}


.menu-right{
    border-left: 0.5px solid white;
    text-align: center;
    width: 15%;
    height: 100vh;
}

.menu-left{
    text-align: center;
    align-items: center;
    display: grid;
    width: 15%;
    height: 100vh;
    background-color: rgb(24, 26, 28);
    border-right: 0.5px solid white;
}

/*==================== Container ==================== */

.containerbutton{
    margin-top: 30%;
    font-weight: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;

}

.containerbutton-left{

    font-weight:var(--font-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerbutton .btn {
    text-align: center;
    position: relative;
    width: 200px;
    height: 70px;
    margin: 20px;
    margin-bottom: 50px;
}


.containerbutton .btn .left {
    text-align: center;
    position: relative;
    width: 120px;
    height: 40px;
    margin: 20px;
}

.containerbutton .btn a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: white;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.containerbutton .btn:hover a {
    letter-spacing: 2px;
}

.containerbutton .btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.containerbutton .btn:hover a::before{
    transform: skewX(45deg) translateX(200%);
}

.containerbutton .btn::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 50px;
    height: 20px;
    background: #ff0000;
    border-radius: 10px;
    transition: 0.5s;
}

.containerbutton .btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    /*transition-delay: 0.5s;*/
}


.containerbutton .btn::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 50px;
    height: 20px;
    background: #ff0000;
    border-radius: 10px;
    transition: 0.5s;
}

.containerbutton .btn:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    /*transition-delay: 0.459s;*/
}

.containerbutton .btn:nth-child(1)::before,
.containerbutton .btn:nth-child(1)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );
}
.containerbutton .btn:nth-child(2)::before,
.containerbutton .btn:nth-child(2)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );

}
.containerbutton .btn:nth-child(3)::before,
.containerbutton .btn:nth-child(3)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );

}
.containerbutton .btn:nth-child(4)::before,
.containerbutton .btn:nth-child(4)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );

}
.containerbutton .btn:nth-child(2)::before,
.containerbutton .btn:nth-child(2)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );

}
.containerbutton .btn:nth-child(3)::before,
.containerbutton .btn:nth-child(3)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );

}
.containerbutton .btn:nth-child(4)::before,
.containerbutton .btn:nth-child(4)::after{
    background: linear-gradient(
        90deg,
        rgb(28, 209, 37) 0%,
        rgb(16, 185, 190) 100%
      );
    box-shadow: 0 0 5px linear-gradient(
                        90deg,
                        rgb(28, 209, 37) 0%,
                        rgb(16, 185, 190) 100%
                    ),
                0 0 15px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 30px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  ),
                0 0 60px linear-gradient(
                    90deg,
                    rgb(28, 209, 37) 0%,
                    rgb(16, 185, 190) 100%
                  );

}

/*==================== Buttons ==================== */

.button__icon{
    font-size: 1.25rem;
    margin-left: 10px;
    transition: .3s;
}

.button__icon-left{
    font-size: 1.25rem;
    margin-left: 10px;
    transition: .3s;
}

.button--flex-left{
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 10px;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.nomeUsuario{
    margin-top: 20%;
    color: white;
    font-size: 1.5rem;
}

.FotoPerfil{
    margin-top: 10%;
    color: white;
}

.FotoPerfil{
    font-size: 5rem;
}